In [1]:
import pandas as pd
import nltk

In [2]:
data = pd.read_excel("Data_Wordle_All.xlsx", sheet_name="Sheet1")
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X)
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,13,3
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,13,2
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,16,2
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,7,1
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,29,21

In [3]:
data['Letters']=data['Word'].apply(lambda x:str(list(x))[1:-1].replace("'","").replace(" ",""))
data['w1'],data['w2'],data['w3'],data['w4'],data['w5']=data['Letters'].str.split(',',n=4).str
letter = [str(chr(i)) for i in range(ord('a'),ord('z')+1)]
letter_map = dict(zip(letter,range(1,27)))
data['w1'] = data['w1'].map(letter_map)
data['w2'] = data['w2'].map(letter_map)
data['w3'] = data['w3'].map(letter_map)
data['w4'] = data['w4'].map(letter_map)
data['w5'] = data['w5'].map(letter_map)
data

D:\TempS\ipykernel_26592\644683193.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['w1'],data['w2'],data['w3'],data['w4'],data['w5']=data['Letters'].str.split(',',n=4).str

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),Letters,w1,w2,w3,w4,w5
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,"s,l,u,m,p",19,12,21,13,16
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,"c,r,a,n,k",3,18,1,14,11
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,"g,o,r,g,e",7,15,18,7,5
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,"q,u,e,r,y",17,21,5,18,25
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,"d,r,i,n,k",4,18,9,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,13,3,"k,a,y,a,k",11,1,25,1,11
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,13,2,"b,r,o,k,e",2,18,15,11,5
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,16,2,"u,n,z,i,p",21,14,26,9,16
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,7,1,"d,i,t,t,o",4,9,20,20,15
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,29,21,"j,o,k,e,r",10,15,11,5,18

In [4]:
Vowel = ['a','e','i','o','u']
Consonant = list(set(letter).difference(set(Vowel)))


def count_vowel(s):
    c = 0
    for i in range(len(s)):
        if s[i] in Vowel:
            c+=1
    return c


def count_consonant(s):
    c = 0
    for i in range(len(s)):
        if s[i] in Consonant:
            c+=1
    return c


data['Vowel_fre'] = data['Word'].apply(lambda x:count_vowel(x))
data['Consonant_fre'] = data['Word'].apply(lambda x:count_consonant(x))
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),Letters,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,"s,l,u,m,p",19,12,21,13,16,1,4
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,"c,r,a,n,k",3,18,1,14,11,1,4
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,"g,o,r,g,e",7,15,18,7,5,2,3
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,"q,u,e,r,y",17,21,5,18,25,2,3
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,"d,r,i,n,k",4,18,9,14,11,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,13,3,"k,a,y,a,k",11,1,25,1,11,2,3
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,13,2,"b,r,o,k,e",2,18,15,11,5,2,3
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,16,2,"u,n,z,i,p",21,14,26,9,16,2,3
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,7,1,"d,i,t,t,o",4,9,20,20,15,2,3
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,29,21,"j,o,k,e,r",10,15,11,5,18,2,3

In [5]:
pos_tags = nltk.pos_tag(list(data['Word']))
data['Speech']=pd.DataFrame(pos_tags)[1]
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,7 or more tries (X),Letters,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,1,"s,l,u,m,p",19,12,21,13,16,1,4,NN
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,2,"c,r,a,n,k",3,18,1,14,11,1,4,NN
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,4,"g,o,r,g,e",7,15,18,7,5,2,3,NN
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,2,"q,u,e,r,y",17,21,5,18,25,2,3,NN
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,1,"d,r,i,n,k",4,18,9,14,11,1,4,VB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,...,3,"k,a,y,a,k",11,1,25,1,11,2,3,NN
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,...,2,"b,r,o,k,e",2,18,15,11,5,2,3,VBD
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,...,2,"u,n,z,i,p",21,14,26,9,16,2,3,JJ
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,...,1,"d,i,t,t,o",4,9,20,20,15,2,3,NN
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,...,21,"j,o,k,e,r",10,15,11,5,18,2,3,NN

In [6]:
def count_same_letter(s):
    d={}
    for char in set(s):
        d[char]=s.count(char)

    sum = 0
    for i in d:
        if d[i]>1:
            sum = sum + d[i]

    return sum

In [7]:
data['Same_letter_fre'] = data['Word'].apply(lambda x:count_same_letter(x))
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,Letters,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,"s,l,u,m,p",19,12,21,13,16,1,4,NN,0
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,"c,r,a,n,k",3,18,1,14,11,1,4,NN,0
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,"g,o,r,g,e",7,15,18,7,5,2,3,NN,2
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,"q,u,e,r,y",17,21,5,18,25,2,3,NN,0
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,"d,r,i,n,k",4,18,9,14,11,1,4,VB,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,...,"k,a,y,a,k",11,1,25,1,11,2,3,NN,4
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,...,"b,r,o,k,e",2,18,15,11,5,2,3,VBD,0
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,...,"u,n,z,i,p",21,14,26,9,16,2,3,JJ,0
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,...,"d,i,t,t,o",4,9,20,20,15,2,3,NN,2
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,...,"j,o,k,e,r",10,15,11,5,18,2,3,NN,0

In [8]:
Frequency=pd.read_excel("Letter_Frequency.xlsx",sheet_name="Sheet1")
Frequency_map=dict(zip(Frequency['N'],Frequency['Frequency']))
data['w1_fre']=data['w1']
data['w2_fre']=data['w2']
data['w3_fre']=data['w3']
data['w4_fre']=data['w4']
data['w5_fre']=data['w5']
data.replace({'w1_fre':Frequency_map,'w2_fre':Frequency_map,'w3_fre':Frequency_map,'w4_fre':Frequency_map,'w5_fre':Frequency_map},inplace=True)
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,16,1,4,NN,0,0.0555,0.0552,0.0366,0.0322,0.0327
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,11,1,4,NN,0,0.0474,0.0751,0.0856,0.0641,0.0084
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,5,2,3,NN,2,0.0230,0.0712,0.0751,0.0230,0.1142
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,25,2,3,NN,0,0.0023,0.0366,0.1142,0.0751,0.0200
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,11,1,4,VB,0,0.0313,0.0751,0.0794,0.0641,0.0084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,...,11,2,3,NN,4,0.0084,0.0856,0.0200,0.0856,0.0084
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,...,5,2,3,VBD,0,0.0212,0.0751,0.0712,0.0084,0.1142
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,...,16,2,3,JJ,0,0.0366,0.0641,0.0024,0.0794,0.0327
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,...,15,2,3,NN,2,0.0313,0.0794,0.0746,0.0746,0.0712
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,...,18,2,3,NN,0,0.0015,0.0712,0.0084,0.1142,0.0751

In [9]:
import sklearn.preprocessing as sp
le=sp.LabelEncoder()
data['Speech']=le.fit_transform(data['Speech'])
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,16,1,4,7,0,0.0555,0.0552,0.0366,0.0322,0.0327
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,11,1,4,7,0,0.0474,0.0751,0.0856,0.0641,0.0084
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,5,2,3,7,2,0.0230,0.0712,0.0751,0.0230,0.1142
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,25,2,3,7,0,0.0023,0.0366,0.1142,0.0751,0.0200
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,11,1,4,12,0,0.0313,0.0751,0.0794,0.0641,0.0084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,...,11,2,3,7,4,0.0084,0.0856,0.0200,0.0856,0.0084
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,...,5,2,3,13,0,0.0212,0.0751,0.0712,0.0084,0.1142
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,...,16,2,3,3,0,0.0366,0.0641,0.0024,0.0794,0.0327
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,...,15,2,3,7,2,0.0313,0.0794,0.0746,0.0746,0.0712
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,...,18,2,3,7,0,0.0015,0.0712,0.0084,0.1142,0.0751